@font-face {
  font-family: 'norsebold';
  src: url('../assets/fonts/norse-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/norse-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  Custom Styling
*/

:root {
  --green: #596D48;
  --white: #FFFFFF;
  --black-transparent: rgba(0, 0, 0, 0.5);
  font-family: system-ui, sans-serif;
}

html, body {
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
}

.image-sidebar {
  position: relative;
  background-color: var(--green, green);
  background-image: url('../assets/images/green-leaf-plant-close-up.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  flex: 1;
}

.logo {
  position: absolute;
  color: var(--white, white);
  text-transform: uppercase;
  width: 100%;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-transparent, black);
  top: 20%;
  font-family: 'norsebold', system-ui, sans-serif;
  padding: 0.5rem 0;
}

.logo::before {
  content: '';
  background-image: url('../assets/images/odin-logo-lined.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  width: 100px;
  height: 8rem;
}

.credit {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white, white);
}

.credit > a {
  color: var(--white, white);
}

.credit > a:hover,
.credit > a:focus {
  color: #ccc;
}

.content {
  background-color: gray; /* Add temporary background color to see space occupied */
  flex: 2;
}
